:root{
    --primary-bold:#9c2e0a;
    --primary-900:#b23c0f;
    --primary-800:#c84715;
    --primary-700:#cc4e1a;
    --primary-600:#e65a1c;
    --primary:#ef6f3e;
    --primary-400:#f38855;
    --primary-300:#f7a16c;
    --primary-200:#fbb983;
    --primary-100:#ffd29a;
    --secondary-bold: #0b2a59;
    --secondary-900: #0f3978;
    --secondary-800: #154c9e;
    --secondary-700: #1958b5;
    --secondary-600: #206ad6;
    --secondary: #307ef2;
    --secondary-400: #5798f5;
    --secondary-300: #80b4f8;
    --secondary-200: #a8cdfa;
    --secondary-100: #d1e6fd;
    --black:#000000;
    --white:#ffffff;
    --grey:#a5a5a5;
    --alert:#e60000;
    --transition: 0.4s;
}

@font-face {
    font-family: 'Brother Signature';
    src: url('/module-2/exercise-lists/assets/fonts/brother-signature/Brother-Signature.ttf') format('truetype');
    src: url('/module-2/exercise-lists/assets/fonts/brother-signature/Brother-Signature.otf') format('truetype');
    src: url('/module-2/exercise-lists/assets/fonts/brother-signature/Brother-Signature.woff') format('truetype');
    src: url('/module-2/exercise-lists/assets/fonts/brother-signature/Brother-Signature.woff2') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

footer{
    background-color: var(--black);
}

.social-networks{
  color: var(--grey);
  transition: var(--transition);
}

.social-networks:hover{
  color: var(--primary-100);
}

#logo{
    font-family: 'Brother Signature';
    font-size: 4rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    transition: var(--transition);
}

.nav-link:hover{
    color: var(--primary-200);
    border-bottom: 2px solid var(--primary-200);
}

@media (max-width: 767px){
    #logo{
        font-size: 2.5rem;
    }
}